<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="{% static 'AppEstudiantes/css/styles.css' %}" rel="stylesheet" />
    </head>
    
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'pagina-principal' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'agregar-estudiante' %}">Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'agregar-profe' %}">Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'agregar-curso' %}">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'busqueda-aparte' %}">>> Busqueda en una página nueva</a>
          </li>
        </ul>
        <form action = "{% url 'buscar-estudiante' %}" class="d-flex">
          <input class="form-control me-2" name= "criterio" type="search" placeholder="Nombre Estudiante" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

 <header class="masthead">
    <div class="row justify-content-center">
        <div class="text-center text-white">
            <h1 class="mb-5">Tercera Preentrega CODERHOUSE</h1>
        </div>
    </div>
</header>
               
        {% block losdatos %}
        {% endblock %}

<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
      <p class="text-muted small mb-4 mb-lg-0">&copy; Guillermo Gravino. 2023. Tercera Pre-entrega.</p>
    </div>
</footer>

</body>

</html>
